name: CI
on:
  pull_request: ~
  push:
    branches:
      - master
      - releases/*
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Run eslint/format
    steps:
      - uses: actions/checkout@v3
      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version: '19.x'
          # cache: yarn
          # cache-dependency-path: './apps/web/package-lock.json'
      - name: Install yarn
        run: npm install -g yarn
      - name: Install dependencies
        run: yarn install
      - name: Lint
        run: yarn lint
      - name: Prettier
        run: yarn workspaces run prettier . --check
  tsc:
    runs-on: ubuntu-latest
    name: Check tsc
    # needs: [lint]
    steps:
      - uses: actions/checkout@v3
      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version: '19.x'
          # cache: yarn
          # cache-dependency-path: './apps/web/package-lock.json'
      - name: Install yarn
        run: npm install -g yarn
      - name: Install dependencies
        run: yarn install
      - name: tsc
        run: yarn tsc
  jest:
    runs-on: ubuntu-latest
    name: Run tests
    # needs: [lint, tsc] # ensure tests are run only after eslint and tsc pass
    steps:
      - uses: actions/checkout@v3
      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version: '19.x'
          # cache: yarn
          # cache-dependency-path: './apps/server/package-lock.json'
      - name: Install yarn
        run: npm install -g yarn
      - name: Install dependencies
        run: yarn install
      - name: Test
        run: yarn test
        env:
          POSTMARK_SERVER_KEY: ${{ secrets.POSTMARK_SERVER_KEY }}
  build-backend-image:
    runs-on: ubuntu-latest
    name: Build backend image
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - run: yarn install --immutable
      - name: Build Docker image for backend
        run: yarn backend:docker:build
