name: CI
on:
  pull_request: ~
  push:
    branches:
      - master
      - releases/*
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint-web:
    runs-on: ubuntu-latest
    name: Run eslint on frontend
    steps:
      - uses: actions/checkout@v3
      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version: '19.x'
          # cache: yarn
          # cache-dependency-path: './apps/web/package-lock.json'
      - name: Install yarn
        run: npm install -g yarn
      - name: Install dependencies
        run: yarn --cwd apps/web
      - name: Lint web
        run: yarn lint-web
  lint-server:
    runs-on: ubuntu-latest
    name: Run eslint on server
    steps:
      - uses: actions/checkout@v3
      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version: '19.x'
          # cache: yarn
          # cache-dependency-path: './apps/server/package-lock.json'
      - name: Install yarn
        run: npm install -g yarn
      - name: Install dependencies
        run: yarn --cwd apps/server
      - name: Lint server
        run: yarn lint-server
  tsc-web:
    runs-on: ubuntu-latest
    name: Check tsc on frontend
    steps:
      - uses: actions/checkout@v3
      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version: '19.x'
          # cache: yarn
          # cache-dependency-path: './apps/web/package-lock.json'
      - name: Install yarn
        run: npm install -g yarn
      - name: Install dependencies
        run: yarn --cwd apps/web
      - name: tsc web
        run: yarn tsc-web
  tsc-server:
    runs-on: ubuntu-latest
    name: Check tsc on server
    steps:
      - uses: actions/checkout@v3
      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version: '19.x'
          # cache: yarn
          # cache-dependency-path: './apps/server/package-lock.json'
      - name: Install yarn
        run: npm install -g yarn
      - name: Install dependencies
        run: yarn --cwd apps/server
      - name: tsc server
        run: yarn tsc-server
  # jest-web:
  #   runs-on: ubuntu-latest
  #   name: Run tests on frontend
  #   needs: [lint-web, tsc-web] # ensure tests are run only after eslint and tsc pass
  #   steps:
  #     - uses: actions/checkout@v3
  #     - name: Set up node
  #       uses: actions/setup-node@v3
  #       with:
  #         node-version: '19.x'
  #         # cache: yarn
  #         # cache-dependency-path: './apps/web/package-lock.json'
  #     - name: Install yarn
  #       run: npm install -g yarn
  #     - name: Install dependencies
  #       run: yarn --cwd apps/web
  #     - name: Test web
  #       run: yarn test-web
  jest-server:
    runs-on: ubuntu-latest
    name: Run tests on server
    needs: [lint-server, tsc-server] # ensure tests are run only after eslint and tsc pass
    steps:
      - uses: actions/checkout@v3
      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version: '19.x'
          # cache: yarn
          # cache-dependency-path: './apps/server/package-lock.json'
      - name: Install yarn
        run: npm install -g yarn
      - name: Install dependencies
        run: yarn --cwd apps/server
      - name: Test server
        run: yarn test-server
